

html, body {
  height: 100%;
}

#app {
  height: 100%;
}

.app {
  height: 100%;
}

.app-sidebar {
  height: 100%;
  float: left;
}
.app-content {
  height: 100%;
  overflow: hidden;
  background: pink;
}
